<div class="section hero">
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h4 class="hero-heading">Stop coding non-responsive sites. Let users view sites from anywhere.</h4>
        <p class="button button-primary" href="http://getskeleton.com/">Try Skeleton</p>
      </div>
      <div class="one-half column phones">
        <img class="phone" src="../images/iphone6.jpg"/>
        <img class="phone" src="../images/iphone6.jpg"/>
      </div>
    </div>
  </div>
</div>
