<!DOCTYPE html>
<html>
<head>
  <title>Holda</title>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link href='/css/main.css' rel='stylesheet' type='text/css'>
  <link href='/css/normalize.css' rel='stylesheet' type'/text/css'>
  <link href='/css/skeleton.css' rel='stylesheet' type'/text/css'>
</head>
<body>
  <%= yield %>
  <script type='text/javascript' src="js/application.js"></script>
</body>
</html>
